<!DOCTYPE html>

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

  <title>{{titulo}}</title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
  <meta name="description" content="Discotecas">

  {% block stylesheets %}
    <!-- Bootstrap Core CSS -->
    <link href=" lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href=" lib/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">
    <link href="lib/angular-bootstrap/ui-bootstrap-csp.css" type="text/css" rel="stylesheet">
    <link href="css/estilo.css" rel="stylesheet">
  <!-- favicon -->
  <link rel="icon" type="image/x-icon" href="img/favicon.png" />
  {% endblock %}

</head>