<!-- jQuery -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- pretty url -->
<script src="js/scripts/pretty_url.js"></script>
<!-- Angular JS -->
<script type="text/javascript" src="lib/angular/angular.js"></script>

<!-- boostrap UI -->
<script type="text/javascript" src="lib/angular-touch/angular-touch.min.js"></script>
<script type="text/javascript" src="lib/angular-animate/angular-animate.min.js"></script>
<script type="text/javascript" src="lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- time ago -->
<script type="text/javascript" src="lib/ng-timeago/ngtimeago.js"></script>
<!-- file-upload -->
<script type="text/javascript"  src="lib/ng-file-upload/ng-file-upload.min.js"></script>

<script type="text/javascript"  src="lib/angular-sanitize/angular-sanitize.js"></script>
<script type="text/javascript" src="lib/angular-route/angular-route.js"></script>
<script type="text/javascript" src="lib/angular-spotify/src/angular-spotify.js"></script>
<script type="text/javascript" src="lib/angular-resource/angular-resource.js"></script>
<script type="text/javascript" src="/users/usersModulo.js"></script>
<script type="text/javascript" src="/users/services/authenticationService.js"></script>
<script type="text/javascript" src="/discoteca/discosModulo.js"></script>
<script type="text/javascript" src="/discoteca/controllers/disco.controller.js"></script>
<script type="text/javascript" src="/discoteca/discotecaRoutes.js"></script>
<script type="text/javascript" src="/users/usersModulo.js"></script>
<script type="text/javascript" src="/users/services/authenticationService.js"></script>
<script type="text/javascript" src="/application.js"></script>
