<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Discotecas - Tus colecciones preferidas</title>

    <!-- Bootstrap Core CSS -->
    <link href="lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/grayscale.css" rel="stylesheet">
    <link href="css/loginstyle.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">

    <!-- favicon -->
    <link rel="icon" type="image/x-icon" href="img/favicon.png" />

</head>

<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">

<!-- Navigation -->
<nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                <i class="fa fa-bars"></i>
            </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <i class="fa fa-play-circle"></i>  <span class="light">Tu</span> Música
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
            <ul class="nav navbar-nav">
                <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li>
                    <a class="page-scroll" href="#about">Loguearse</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container -->
</nav>

<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">Discotecas</h1>
                    <p class="intro-text">Las colecciones online con tus discos favoritos.</p>
                    <a href="#login" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</header>

<!-- Login Section -->
<section id="login" class="container content-section text-center">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
            <div class="header">
                <div>Logueate</div>
                <br>
                <a href="/auth/facebook" class="btn btn-primary"><span class="fa fa-facebook"></span> Facebook</a>
                <a href="/auth/twitter" class="btn btn-info"><span class="fa fa-twitter"></span> Twitter</a>
            </div>
            <br>
            <div class="login">
                <div class="admins"><span class="glyphicon glyphicon-user"></span> Administrador</div>
                <br>
                <!-- show any messages that come back with authentication -->
                {% if message.length > 0 %}
                <div class="alert alert-danger">{{message}}</div>
                {% endif %}
                <form action="/" method="post">
                    <input type="text" placeholder="username" name="username"><br>
                    <input type="password" placeholder="password" name="password"><br>
                    <input type="submit" value="Login">
                </form>
            </div>

        </div>
    </div>
</section>


<!-- Footer -->

<section id="about" class="container content-section text-center">
<footer>
    <div class="container text-center">
        <p>Copyright &copy; Discotecas 2016 - Octavio Gzain y Leandro Marziali</p>
        <a href="/readme">README</a>
    </div>
</footer>
</section>

{% block javascripts %}
<!-- jQuery -->
<script src="lib/jquery/dist/jquery.js"></script>
<!-- Bootstrap Core JavaScript -->
<script src="lib/bootstrap/dist/js/bootstrap.min.js"></script>
<!-- Plugin JavaScript -->
<script src="js/scripts/jquery.easing.min.js"></script>
<!-- Custom Theme JavaScript -->
<script src="js/scripts/grayscale.js"></script>
<!-- Login Theme JavaScript -->
<script src="js/scripts/prefixfree.min.js"></script>

{% endblock %}


</body>

</html>
